/* Requires: normalize.css -box-sizing.htc */
/* Global Reset & Standards ---------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { background: white; font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 14px; font-size: 1.4rem; line-height: 1; color: #222222; position: relative; -webkit-font-smoothing: antialiased; }

/* Links ---------------------- */
a { color: #2ba6cb; text-decoration: none; line-height: inherit; }

a:hover { color: #2795b6; }

a:focus { color: #2ba6cb; outline: none; }

p a, p a:visited { line-height: inherit; }

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; }

h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #888; line-height: 0; }

h1 { font-size: 44px; }

h2 { font-size: 37px; }

h3 { font-size: 27px; }

h4 { font-size: 23px; }

h5 { font-size: 17px; }

h6 { font-size: 14px; }

/* Header Style */
#header{
	width:100%;
	min-height:2em;
	background-color:#191919;
	margin:0 auto;
	min-width: 900em;
}

.flist_item{
	cursor: pointer;
}

/*End Header Style */

/************************************************************
*************************************************************
    Media Querys
*************************************************************
*************************************************************/
/* Media Query: Smartphones (portrait and landscape)  */
@media only screen 
and (min-width : 320px) 
and (max-width : 680px) {
	
	
}
/* Media Query: iPads (portrait and landscape)  */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	
}
