/* ==|== primary styles ===================================================================================================================================
   AUTHOR: Meridian Softech
   ========================================================================== */

/************************************************************
*************************************************************
    CUSTOM FONT EMBED
*************************************************************
*************************************************************/

/*@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/PTS55F.eot?') format('eot'),
        url('../fonts/PTS55F.ttf') format('truetype'),
        url('../fonts/PTS55F.svg#svgFontName') format('svg');
}*/
   
/************************************************************
*************************************************************
    COMMON
*************************************************************
*************************************************************/

body{
    overflow-y: scroll;
}

.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right{float: right;}

/************************************************************
*************************************************************
    HEADER
*************************************************************
*************************************************************/
header{padding-top: 10px;}

/************************************************************
*************************************************************
    MAIN CONTENT
*************************************************************
*************************************************************/
#logo{
	
	width:100%;
	max-width: 400px;
	
}
.center-image{text-align: center;}

.ui-input-text{
		max-width: 500px;
	}
.ui-btn{
	max-width: 500px;
}
.intro-panel{max-width: 500px;
	margin:0 auto;
	
}
div.panel.callout {
	background: #191919;
	text-align: center;
	margin:0 auto;
	margin-bottom:1em;
}




/************************************************************
*************************************************************
    FOOTER
*************************************************************
*************************************************************/



/************************************************************
*************************************************************
    Media Querys
*************************************************************
*************************************************************/
/* Media Query: Smartphones (portrait and landscape)  */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	#logo{max-width: 200px;}
	.ui-input-text{
		max-width: 320px;
	}
	.ui-btn{
		max-width: 320px;
	}
	
}
/* Media Query: iPads (portrait and landscape)  */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	#logo{max-width: 400px;}
	.ui-input-text{
		max-width: 500px;
	}
	.ui-btn{
		max-width: 500px;
	}	
}

